@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

:root {
  --background: #fcf9f7;
    --foreground: #171b27;
    --card: #fcf9f7;
    --card-foreground: #171b27;
    --popover: #fcf9f7;
    --popover-foreground: #171b27;
    --primary: #c13c0b;
    --primary-foreground: #fcf9f7;
    --secondary: #353f5a;
    --secondary-foreground: #fcf9f7;
    --muted: #f8f2ed;
    --muted-foreground: #181b25;
    --accent: #c6d8e6;
    --accent-foreground: #171b27;
    --destructive: #271616;
    --destructive-foreground: #fcf9f7;
    --border: #171b27;
    --input: #171b27;
    --ring: #c13c0b;
    --chart-1: #c13c0b;
    --chart-2: #87c10b;
    --chart-3: #0b51c1;
    --chart-4: #ac0bc1;
    --chart-5: #c1b20b;
    --sidebar: #f8f2ed;
    --sidebar-foreground: #171b27;
    --sidebar-primary: #c13c0b;
    --sidebar-primary-foreground: #fcf9f7;
    --sidebar-accent: #b5cfe3;
    --sidebar-accent-foreground: #171b27;
    --sidebar-border: #171b27;
    --sidebar-ring: #c13c0b;
    --font-sans: DM Sans, sans-serif;
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: Space Mono, monospace;
    --radius: 0rem;
    --shadow-2xs: 4px 4px 0px 0px hsl(0 0% 0% / 0.50);
    --shadow-xs: 4px 4px 0px 0px hsl(0 0% 0% / 0.50);
    --shadow-sm: 4px 4px 0px 0px hsl(0 0% 0% / 1.00), 4px 1px 2px -1px hsl(0 0% 0% / 1.00);
    --shadow: 4px 4px 0px 0px hsl(0 0% 0% / 1.00), 4px 1px 2px -1px hsl(0 0% 0% / 1.00);
    --shadow-md: 4px 4px 0px 0px hsl(0 0% 0% / 1.00), 4px 2px 4px -1px hsl(0 0% 0% / 1.00);
    --shadow-lg: 4px 4px 0px 0px hsl(0 0% 0% / 1.00), 4px 4px 6px -1px hsl(0 0% 0% / 1.00);
    --shadow-xl: 4px 4px 0px 0px hsl(0 0% 0% / 1.00), 4px 8px 10px -1px hsl(0 0% 0% / 1.00);
    --shadow-2xl: 4px 4px 0px 0px hsl(0 0% 0% / 2.50);
  }

.dark {
  --background: #171b27;
    --foreground: #fcf9f7;
    --card: #1c2130;
    --card-foreground: #fcf9f7;
    --popover: #1c2130;
    --popover-foreground: #fcf9f7;
    --primary: #ff8052;
    --primary-foreground: #171b27;
    --secondary: #8ea6e6;
    --secondary-foreground: #171b27;
    --muted: #292d38;
    --muted-foreground: #eeeae7;
    --accent: #063356;
    --accent-foreground: #fcf9f7;
    --destructive: #fcf9f7;
    --destructive-foreground: #171b27;
    --border: #fcf9f7;
    --input: #fcf9f7;
    --ring: #ff8052;
    --chart-1: #ff8052;
    --chart-2: #ffff33;
    --chart-3: #3399ff;
    --chart-4: #33cc33;
    --chart-5: #cc33cc;
    --sidebar: #171b27;
    --sidebar-foreground: #fcf9f7;
    --sidebar-primary: #ff8052;
    --sidebar-primary-foreground: #171b27;
    --sidebar-accent: #064574;
    --sidebar-accent-foreground: #fcf9f7;
    --sidebar-border: #ece7e4;
    --sidebar-ring: #ff8052;
    --font-sans: DM Sans, sans-serif;
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: Space Mono, monospace;
    --radius: 0rem;
    --shadow-2xs: 4px 4px 0px 0px hsl(24.00 45.45% 97.84% / 0.50);
    --shadow-xs: 4px 4px 0px 0px hsl(24.00 45.45% 97.84% / 0.50);
    --shadow-sm: 4px 4px 0px 0px hsl(24.00 45.45% 97.84% / 1.00), 4px 1px 2px -1px hsl(24.00 45.45% 97.84% / 1.00);
    --shadow: 4px 4px 0px 0px hsl(24.00 45.45% 97.84% / 1.00), 4px 1px 2px -1px hsl(24.00 45.45% 97.84% / 1.00);
    --shadow-md: 4px 4px 0px 0px hsl(24.00 45.45% 97.84% / 1.00), 4px 2px 4px -1px hsl(24.00 45.45% 97.84% / 1.00);
    --shadow-lg: 4px 4px 0px 0px hsl(24.00 45.45% 97.84% / 1.00), 4px 4px 6px -1px hsl(24.00 45.45% 97.84% / 1.00);
    --shadow-xl: 4px 4px 0px 0px hsl(24.00 45.45% 97.84% / 1.00), 4px 8px 10px -1px hsl(24.00 45.45% 97.84% / 1.00);
    --shadow-2xl: 4px 4px 0px 0px hsl(24.00 45.45% 97.84% / 2.50);
  }


@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}





